<div class="container">
  <div class="alert alert-success mt-2" role="alert" *ngIf="adicionado">
    Funcionario adicionado {{ nome }}
  </div>

  <div class="form-group mt-2">
    <label>Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome"
           (focus)="adicionado = false" appCampoColorido cor="red"
           #campo="campoColorido"
    />
  </div>

  <button type="button" class="btn btn-primary mt-2 mr-2-button" [disabled]="nome.length === 0" (click)="adicionar()">
    Adicionar
  </button>

  <button class="btn btn-info mt-2 mr-2-button" (click)="campo.onFocus()">Colorir</button>
  <button class="btn btn-info mt-2 mr-2-button" (click)="campo.onBlur()">Descolorir</button>

  <div class="row">
    <div class="col-2" *ngFor="let funcionario of funcionarios">
      <app-funcionario-card [funcionario]="funcionario"></app-funcionario-card>
    </div>
  </div>
</div>
