<div class="container">
  <p *ngFor="let alert of alerts">
    <ngb-alert (closed)="fecharAlerta(alert)" [type]="alert.type">{{ alert.message }}</ngb-alert>
  </p>
  <h4 class="mt-2">Cadastro de Cidades</h4>
  <hr>
  <form (ngSubmit)="adicionar()" class="mt-2">
    <input [(ngModel)]="nome" aria-describedby="cidadeHelp" autocomplete="off" class="form-control" id="cidade" name="cidade"
           placeholder="Nome da cidade" required type="text">
    <button class="btn btn-primary mt-2" type="submit">Adicionar</button>
  </form>


  <table class="table mt-2">
    <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cidade of cidades">
      <td>{{cidade.id}}</td>
      <td>
        <div class="input-group">
          <input [(ngModel)]="cidade.nome" class="form-control" type="text">
          <button (click)="atualizar(cidade)" class="btn btn-primary">Atualizar</button>
          <button (click)="excluir(cidade.id)" class="btn btn-danger">Excluir</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
