<div class="container">
  <div *ngIf="usuarioFrom.invalid && usuarioFrom.dirty" class="alert alert-danger">
    Preencha todos os campos corretamente.
  </div>
  <form #usuarioFrom="ngForm" (ngSubmit)="salvar(usuarioFrom)" class="mt-2">

    <div class="form-group">
      <label class="form-label">Nome</label>
      <input #nome="ngModel" [(ngModel)]="cliente.nome"
             [ngClass]="{'is-invalid': nome.invalid && (nome.dirty || nome.touched)}" class="form-control"
             minlength="10" name="nome"
             required type="text">
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="invalid-feedback">
        <div *ngIf="nome.errors?.['required']">Informe um nome válido.</div>
        <div *ngIf="nome.errors?.['minlength']">O nome deve ter pelo menos 10 caracteres.</div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">E-mail</label>
      <input #email="ngModel" [(ngModel)]="cliente.email"
             [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}" class="form-control" email
             name="email" required
             type="text">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
        <div *ngIf="email.errors?.['email']">O e-mail não possui um formato válido.</div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label">Profissão</label>
      <select #profissao="ngModel" [(ngModel)]="cliente.profissao"
              [ngClass]="{'is-invalid': profissao.invalid && (profissao.dirty || profissao.touched)}"
              class="form-control" name="profissao"
              required>
        <option disabled value="">Selecione</option>
        <option *ngFor="let profissao of profissoes" [value]="profissao">{{ profissao }}</option>
      </select>
      <div *ngIf="profissao.invalid && (profissao.dirty || profissao.touched)" class="invalid-feedback">
        <div *ngIf="profissao.errors?.['required']">Informe uma profissão.</div>
      </div>
    </div>

    <button [disabled]="!usuarioFrom.valid" class="btn btn-primary mt-2">Salvar</button>
  </form>
</div>
